
.card{

	border-radius: 10px;
	width: 345px;
	margin:20px auto;
	min-height: 200px;
	/*background-image: linear-gradient(to right, #A9A9A9 , #444444);*/
	/*background-color: #848688;*/
	color: #fff;
	margin-bottom: 60px;
	position: relative;
	background-color: #A6A6A6;
	
}
.logo>img{
	max-width: 60px;
	max-height: 60px;
	/*float: right;
	margin-right: 20px;*/
	
}
.logo {
	position: absolute;
    right: 20px;
    bottom: 10px;
}
.bankname{
	float: right;
	margin-right: 20px;	
	margin-top: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.bankname,.customername{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
.cardnumber{
	/*margin-top: 80px;*/
	margin-left: 50px;
	font-size: 30px;
	font-family: 'Iceland', cursive;
}
.validthru{
	margin-left: 80px;
	font-family: 'Iceland', cursive;
	font-size: 18px;
	margin-top: 8px;
	display: table;
	display: none;
}
.customername{
	float: left;
	margin-left: 20px;
	text-transform: uppercase;
	margin-top: 10px;
}
.validthru>span:first-child {
	 white-space: pre-line;
    display: table-cell;
   font-family: 'Roboto', sans-serif;
   font-size: 10px;
   line-height: initial;
   text-transform: uppercase;

}
.validthru>span:nth-child(2) {
	display: table-cell;
    vertical-align: middle;
}
.chip>img{
	max-width: 60px;
    margin-left: 25px;
    margin-top: 25px;
    
}
.submitform{
	text-align: center;
}

.mdl-checkbox{
	width: 150px;
}
header{
background-color:#FFBB00;
font-size:2em;
padding:15px;
margin-bottom:10px;
text-align: center;
font-family: 'Damion', cursive;
}
.extra{
	height: 30px;
}
#img-out>img{
	margin:10px;
}
.info{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	display: none;
	padding: 5px;
}
#img-out{
	text-align: center;
}
#btnSave{
	display: none;
}
.cardtype {
   -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    float: right;
    margin-right: -19px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -20px;
}